/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white text-black;
}


body.dark {
  @apply bg-gray-900 text-white;
}


a {
  @apply text-blue-600 dark:text-blue-400;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
