/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white text-black;
}


body.dark {
  @apply bg-gray-900 text-white;
}


a {
  @apply text-blue-600 dark:text-blue-400;
}

.product_image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  align-items: center;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  background-size: cover;
  background-position: center;
  height: 250px;
  width: 180px;
  position: relative;
   border: 2px solid black;
  border-radius: 25px;
}

.product_image_models {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  align-items: center;
  
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  background-size: cover;
  background-position: center;
  height: 320px;
  width: 320px;
  position: relative;
   
  border-radius: 25px;
}

.center {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;

    @media (max-width: 768px) {
    max-width: 100%; 
    padding: 0 10px; 
}
}
.products-container{
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
  
  grid-template-columns: 1fr ;
  gap: 30px;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr ;
    
  }
}

.product-card{
  cursor: pointer;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
  color: #324d67;
 
 }
 .product-card:hover{
   transform: scale(1.1,1.1)
 }
 
 
 .product-image{
   object-fit: cover;
   border-radius: 15px;
  background-color: #ebebeb;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
 }

 .product-name{
  font-weight: 500;
}
.product-price{
  font-weight: 800;
  margin-top: 6px;
  color: black;
}